@(form: Form[formdata.RegistrationData], userType: String)

@main("Register a New Student", true) {

    @helper.form(routes.UserController.createStudent_submit) {
    	<!-- <h1>Create a New Class</h1> -->

		<div>
			<div class="box">
			    <div class="box-header">
			    	<i class="icon-plus"></i>
			        <i class="icon-user icon-large"></i>
			        <h5>Register a New Student</h5>
			    </div>
			    <div class="box-content box-table" style="padding: 10px;">
				    @if(form.hasGlobalErrors) {
					    <div class="alert alert-danger">
					        @form.globalError.message
					    </div>
					}
					<p>
						<h4>Full Name</h4>
						<input type="text" name="firstName" placeholder="First Name" value="@form("firstName").value">

						<input type="text" name="lastName" placeholder="Last Name" value="@form("lastName").value">
					</p>
					<p>
						<h4>Email Address</h4>
						<input type="text" name="email" placeholder="Email Address" value="@form("email").value">
					</p>
					<p>
						<h4>Create a Username</h4>
						<input type="text" name="username" placeholder="Username" value="@form("username").value">
					</p>
					<p>
						<h4>Create a Password</h4>
						<input type="password" name="password" placeholder="Password" value="@form("password").value">
					</p>
					<p>
						<input type="password" name="passwordRepeat" placeholder="Retype Password" value="@form("passwordRepeat").value">
					</p>
					<p>
						<script type="text/javascript">
							$(function() {
								$('button[name="grade"]').click(function() {
									var grade = $(this).text();
									$('input[name="grade"]').val(grade);
								});

								@if(form("grade").value){$('button#grade' + @form("grade").value).click();}
						    });
						</script>
						<h4>Grade</h4>
						<input type="hidden" name="grade" value="@form("grade").value">
						<div class="btn-group" data-toggle="buttons-radio">
							<button class="btn btn-primary" type="button" name="grade" id="grade1">1</button>
							<button class="btn btn-primary" type="button" name="grade" id="grade2">2</button>
							<button class="btn btn-primary" type="button" name="grade" id="grade3">3</button>
							<button class="btn btn-primary" type="button" name="grade" id="grade4">4</button>
							<button class="btn btn-primary" type="button" name="grade" id="grade5">5</button>
							<button class="btn btn-primary" type="button" name="grade" id="grade6">6</button>
							<button class="btn btn-primary" type="button" name="grade" id="grade7">7</button>
							<button class="btn btn-primary" type="button" name="grade" id="grade8">8</button>
							<button class="btn btn-primary" type="button" name="grade" id="grade9">9</button>
							<button class="btn btn-primary" type="button" name="grade" id="grade10">10</button>
							<button class="btn btn-primary" type="button" name="grade" id="grade11">11</button>
							<button class="btn btn-primary" type="button" name="grade" id="grade12">12</button>
						</div>
					</p>
					<br>
					<p>
						<button type="submit" class="btn btn-success">
							<i class="btn-icon-only icon-check"></i> Submit
						</button>
					</p>
			    </div>
			</div>
		</div>
	}

}