@main("Dashboard", true) {

	<div>
		@if(flash.containsKey("success")) {
	    	<div class="alert alert-success">
		        <strong>Done!</strong> @flash.get("success")
		    </div>
	    }
        <!-- --- SD WEBSITE TEMPLATE --- -->
        <!-- Your project name, tagline and description goes here -->
        <div class="jumbotron">
          <h1>Welcome to Coding Boot Camp!</h1>
          <p><em>Practice coding, logically</em></p>
          <hr style="border-color: rgb(51, 51, 51);">
          <p>Coding Boot Camp is an educational tool for new programming students.</p>
        </div>
    </div>

}
