@(question: List[String], spaces: List[Integer], answers: Array[Integer], spot: Integer, correct: Integer)

@main("Dashboard", true) {

    <div>
        @if(flash.containsKey("success")) {
	    	<div class="alert alert-success">
		        <strong>Done!</strong> @flash.get("success")
		    </div>
	    }
        <!-- --- SD WEBSITE TEMPLATE --- -->
        <!-- Your project name, tagline and description goes here -->
        <div class="jumbotron">
			@if(correct == -1) {
				<p style="font-size:28px;">Welcome to Coding Boot Camp!</br>
					Your first problem is below. </br>
					Try your best to follow what the program is doing, and figure out what it is supposed to return </br>
					Good luck!</p>
			}
			@if(correct == 0) {
				<p style="font-size:40px;">That was an incorrect answer, try again</p>
			} 
			@if(correct == 1) {
				<p style="font-size:40px;">Correct!</p>
			}
			@if(correct == -2) {
				<p stryle="font-size:28px;">Welcome back!</p>
			}
         <div><p>
            @for((line, index) <- question.zipWithIndex){
                @for( i <- 1 to spaces.get(index)){
                    &nbsp;&nbsp;&nbsp;&nbsp;
                }
                @line </br>
            }</p>
         </div>
            @helper.form(action = routes.GeneratorController.execute("value")){
                <input type="radio" name="group1"
                   @if(spot == 0){
                        value="1"
                    }else{
                        value="0"
                    }
                > @answers.apply(0)<br>
                <input type="radio" name="group1"
                    @if(spot == 1){
                        value="1"
                    }else{
                        value="0"
                    }
                > @answers.apply(1)<br>
                <input type="radio" name="group1"
                    @if(spot == 2){
                        value="1"
                    }else{
                        value="0"
                    }
                > @answers.apply(2)<br>
                <input type="radio" name="group1"
                    @if(spot == 3){
                        value="1"
                    }else{
                        value="0"
                    }
                > @answers.apply(3)<br> 
                <input type="submit" value="Submit">
            }
        </div>
    </div>

}